@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}
button, input{
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
input{
    height: 35px;
    color: black;
    background-color: white;
    padding: 5px 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}
input:active,
input:focus{
    outline: none !important;
}

button{
    height: 45px;
    background-color: #66bb6a;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
}
.filter_buttons button:hover,
form button:hover{
    background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
    box-shadow: 3px 5px 5px #888888;
    border-radius: 2px;
    transition: all 0.3s ease;
    transform: scale(1);
}

h1{
    align-self: center;
    color: #66bb6a;
}

.todos_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    padding: 20px;
    gap: 15px;
    border-radius: 5px;
    background-color: #eaf0f6;
    box-shadow: 3px 5px 5px #888888;
}
.todos_container form,
.filter_buttons{
    display: flex;
    width: 100%;
    gap: 10px;
}

.todos_container form button,
.filter_buttons button{
    flex-grow: 1;
}
.todos_container form input{
    flex-grow: 3;
}

.todos_list{
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todo_container{
    display: flex;
    gap: 15px;
}
.todo_container p{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 350px;
}

.todo_item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
    gap: 10px;
}

.delete_button {
    width: 35px;
    height: 40px;
    color: #66bb6a;
    background-color: inherit;
    font-weight: bold;
    background-image: url('data:image/svg+xml,%3Csvg%20fill%3D%22%2366bb6a%22%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20viewBox%3D%220%200%20492.308%20492.308%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%20id%3D%22SVGRepo_bgCarrier%22%20stroke-width%3D%220%22%3E%3C/g%3E%3Cg%20id%3D%22SVGRepo_tracerCarrier%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3C/g%3E%3Cg%20id%3D%22SVGRepo_iconCarrier%22%3E%20%3Cg%3E%20%3Cg%3E%20%3Crect%20x%3D%22151.852%22%20y%3D%22163.175%22%20transform%3D%22matrix(0.9971%20-0.0764%200.0764%200.9971%20-21.7697%2013.2064)%22%20width%3D%2219.692%22%20height%3D%22255.833%22%3E%3C/rect%3E%20%3C/g%3E%20%3C/g%3E%20%3Cg%3E%20%3Cg%3E%20%3Crect%20x%3D%22236.308%22%20y%3D%22163.545%22%20width%3D%2219.692%22%20height%3D%22255.084%22%3E%3C/rect%3E%20%3C/g%3E%20%3C/g%3E%20%3Cg%3E%20%3Cg%3E%20%3Crect%20x%3D%22202.697%22%20y%3D%22281.247%22%20transform%3D%22matrix(0.0762%20-0.9971%200.9971%200.0762%2015.1818%20598.5728)%22%20width%3D%22255.831%22%20height%3D%2219.692%22%3E%3C/rect%3E%20%3C/g%3E%20%3C/g%3E%20%3Cg%3E%20%3Cg%3E%20%3Cpath%20d%3D%22M448.627%2C70.115h-51.173V27.577C397.454%2C12.375%2C385.089%2C0%2C369.887%2C0H122.416c-15.202%2C0-27.567%2C12.375-27.567%2C27.577%20v42.538H43.675H14.752v19.692h31.363L91.06%2C452.51c2.813%2C22.692%2C22.178%2C39.798%2C45.043%2C39.798H356.2c22.865%2C0%2C42.231-17.106%2C45.043-39.798l44.945-362.702h31.368V70.115H448.627z%20M114.541%2C27.577c0-4.346%2C3.534-7.885%2C7.875-7.885h247.471c4.341%2C0%2C7.875%2C3.538%2C7.875%2C7.885v42.538H114.541V27.577z%20M381.704%2C450.087c-1.596%2C12.846-12.558%2C22.529-25.505%2C22.529H136.103c-12.947%2C0-23.909-9.683-25.505-22.529L65.954%2C89.808h28.894h302.606h28.894L381.704%2C450.087z%22%3E%3C/path%3E%20%3C/g%3E%20%3C/g%3E%20%3C/g%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: center;
}

.checkbox-wrapper {
    display: inline-flex;
    align-items: center;
}

.checkbox-label {
    display: inline-block;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    width: 28px;
    position: relative;
}

.checkbox-label:after {
    content: "";
    position: absolute;
    left: 8px;
    top: 9px;
    width: 12px;
    height: 6px;
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    opacity: 0;
}

.checkbox-input {
    visibility: hidden;
    position: absolute;
}

.checkbox-input:checked + .checkbox-label {
    background-color: #66bb6a;
    border-color: #66bb6a;
}

.checkbox-input:checked + .checkbox-label:after {
    opacity: 1;
}


